.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

/* Introduction Css */

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.image-container {
    overflow: hidden;
}

.text-container {
    height: 100%;
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
}
.nav-link :active{
    color: #fe7c04
}


/* Testimonials.css */
.testimonial-content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .testimonial-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  @media (max-width: 768px) {
    .testimonial-text {
      white-space: normal;
    }
  }